.home-container {
  width: 100%;
  font-family: "Segoe UI", sans-serif;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90vh;
  padding: 0 80px;
  background: linear-gradient(to right, #eef2ff, #ffffff);
}

.hero-left {
  width: 50%;
}

.hero-left h1 {
  font-size: 48px;
  color: #1e3a8a;
}

.hero-left p {
  margin: 20px 0;
  font-size: 18px;
  color: #555;
}

.hero-buttons a {
  display: inline-block;
  margin-right: 15px;
  padding: 12px 28px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
}

.primary-btn {
  background: #2563eb;
  color: white;
}

.secondary-btn {
  background: #e5e7eb;
  color: #000;
}

.hero-right img {
  width: 420px;
}

/* SEARCH */
.search-section {
  display: flex;
  justify-content: center;
  padding: 40px;
  background: #f9fafb;
}

.search-section input {
  width: 400px;
  padding: 14px;
  border-radius: 6px 0 0 6px;
  border: 1px solid #ccc;
}

/* .search_toggle {} */

.search-section button {
  padding: 14px 30px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 0 6px 6px 0;
}

/* SERVICES */
.services {
  padding: 60px 80px;
}

.services h2 {
  text-align: center;
  margin-bottom: 30px;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
}

.service-card {
  background: #f3f4f6;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}

/* HOW IT WORKS */
.how-it-works {
  padding: 60px 80px;
  background: #f9fafb;
}

.steps {
  display: flex;
  justify-content: space-between;
}

.step {
  width: 30%;
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

/* CTA */
.cta {
  padding: 80px;
  text-align: center;
  background: #2563eb;
  color: white;
}

.cta a {
  margin-top: 20px;
  display: inline-block;
  background: white;
  color: #2563eb;
  padding: 12px 30px;
  border-radius: 6px;
  text-decoration: none;
}
