/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 4px;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.login-container input {
  padding: 10px;
  font-size: 14px;
}

.login-container button {
  padding: 10px;
  background-color: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #1d4ed8;
}

.links {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.links a {
  text-decoration: none;
  color: #2563eb;
}
